<span class="pull-right" *ngIf="user">Logged as {{user.name || 'Unknown'}}</span>
<span class="pull-right" *ngIf="!user">Authorizing</span>

<!-- <a href="https://api.travis-ci.com/auth/handshake">log in</a> -->

<div class="charts" style="margin-left: 50px; margin-right: 50px; height: 500px;">
  <canvas id="performanceChart" class="performance-chart"></canvas>
</div>

<h3>Builds</h3>
<span *ngIf="!builds || builds.length === 0">
  Loading builds
</span>
<table *ngIf="builds && builds.length > 0">
  <thead>
    <th>Number</th>
    <th>Finished</th>
    <th>State</th>
    <th>Message</th>
    <th>Misc</th>
  </thead>
  <tbody>
    <tr *ngFor="let build of builds">
      <td>
          {{build.number}}
      </td>
      <td>
         {{build.finished_at}}
      </td>
      <td>
          {{build.state}}
      </td>
      <td>
          {{build.commit.message}}
      </td>
      <td>
        <span *ngIf="!build.jobs || build.jobs.length === 0">
          Loading jobs and logs
        </span>
        <ul *ngIf="build.jobs && build.jobs.length > 0">
          <ng-container *ngFor="let job of build.jobs">
              <li *ngIf="job.parsed">
                  Run: {{job.parsed.testsNum}}. Failures: {{job.parsed.failures}}. Total time: {{job.parsed.time}}.
                  <table *ngIf="job.parsed.tests && job.parsed.tests.length > 0">
                    <thead>
                      <th>Name</th>
                      <th>Duration (ms)</th>
                      <th>Referenced duration</th>
                      <th>GC0</th>
                      <th>GC1</th>
                      <th>GC2</th>
                      <th>Allocated (KB)</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let t of job.parsed.tests">
                        <td>{{t.shortName}}</td>
                        <td>{{t.duration}}</td>
                        <td>{{t.referencedDuration}}</td>
                        <td>{{t.collect0}}</td>
                        <td>{{t.collect1}}</td>
                        <td>{{t.collect2}}</td>
                        <td>{{t.allocated}}</td>
                      </tr>
                    </tbody>
                  </table>
                </li>
          </ng-container>          
        </ul>
      </td>
    </tr>
  </tbody>
</table>