<span class="pull-right" *ngIf="user">Logged as {{user.name || 'Unknown'}}</span>
<span class="pull-right" *ngIf="!user">Authorizing</span>

<!-- <a href="https://api.travis-ci.com/auth/handshake">log in</a> -->

<h3>Builds</h3>
<table *ngIf="builds">
  <thead>
    <th>Number</th>
    <th>Finished</th>
    <th>State</th>
    <th>Message</th>
  </thead>
  <tbody>
    <tr *ngFor="let build of builds">
      <td>
          {{build.number}}
      </td>
      <td>
         {{build.finished_at}}
      </td>
      <td>
          {{build.state}}
      </td>
      <td>
          {{build.commit.message}}
      </td>
    </tr>
  </tbody>
</table>